.container{
    height: 680px;
    width: 1030px;
    background-color: silver;
    margin: 0px auto;
    overflow: auto;
}
.top-nav {
    height: 150px;
    width: 990px;
    background-color: green;
    margin: 20px;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    margin: 20px;
}
.main {
    height: 450px;
    width: 770px;
    background-color: red;
    margin: 20px;
}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    border: solid;
    border-color: red;
    display: inline-block;
    margin: 10px;
}
#advertisement {
    height: 120px;
    width: 705px;
    background-color: purple;
    margin: 15px;
}
.row {
    display: flex;

}